* {
}

body {
    background-color: #ffae66;
}

.header-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 46px;
    padding: 0;
    margin: 0;  
}


.logo-display {
    position: absolute;
    left: 0;
    margin-left: 20px;
    width: 100px;
}

#search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#search-bar-form {
    position: relative;
    display: flex;
    align-items: center;
    width: calc(100% + 50px);
}

#search-bar {
    box-sizing: border-box;
    width: 100%;
    padding-right: 100px;
    /* height: 25px; */
}

#search-button {
    position: absolute;
    /* right: 0; */
    align-self: center;
    border: none;
    background: none;
    cursor: pointer;
}

.time-display {
    color: black;
}

.main-content {
    padding: 20px;
}

/* .clock-container:  */